<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Messages</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/app.css"/>

  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

  <div ng-controller="MyCtrl1" ng-init="listMessages()" ng-cloak class="container">
    <h2>Messages</h2>

    <div class="input-append">
      <input class="span2" id="appendedInputButtons" type="text" ng-model="newMessage">
      <button ng-click="addMessage()" class="btn" type="button">Add</button>
    </div>

    <!--
    <input type="text" ng-model="newMessage">
    <a ng-click="addMessage()" class="btn btn-primary btn-small">Add</a>
    <span ng-repeat="m in messages">
      <input type="text" ng-model="m.message"></input>
      <a ng-click="saveMessage(m._id, m.message)" class="btn btn-primary btn-small">Save</a>
      <a ng-click="deleteMessage(m._id)" class="btn btn-primary btn-small">Delete</a>
-->
    <hr/>


      <div class="input-append" ng-repeat="m in messages" style="display: block;">
        <input class="span2" id="appendedInputButtons" type="text" ng-model="m.message">
        <button ng-click="saveMessage(m._id, m.message)" class="btn btn-primary" type="button">Save</button>
        <button ng-click="deleteMessage(m._id)" class="btn btn-danger" type="button">Delete</button>
      </div>

      <br/>
    </span>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>

</body>
</html>
