<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>

  <div ng-controller="MyCtrl1" ng-init="listMessages()" ng-cloak>
    <input type="text" ng-model="newMessage">
    <button ng-click="addMessage()">Add</button>
    <hr/>
    <span ng-repeat="m in messages">
      <input type="text" ng-model="m.message"></input>
      <a href ng-click="saveMessage(m._id, m.message)">Save</a>
      <a href ng-click="deleteMessage(m._id)">Delete</a>
      <br/>
    </span>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
